@charset "utf-8";
/* CSS Document */

body{margin:0; padding:0; background:#F0F0F0; font:12px/1.5 "Lucida Grande",Arial,"微软雅黑","宋体"; color:#333;}
h1,h2,h3,p,img,ul,li,dt,dd,input{margin:0; padding:0; border:none; list-style:none; outline:none;}
a:link,a:visited{text-decoration:none; color:#333;}
a:hover{color:#0093D5;}
/*header*/
#header{height:70px; width:100%; background:#FFF; border-bottom:1px solid #E0E0E0;}
.nav{width:1200px; height:70px; margin:0 auto;}
.nav h1{float:left; padding:14px 55px 0 24px;}
.nav h1 a{display:block; width:120px; height:40px; background:url(../img/icon.png) no-repeat 0 0;}
.top_c{float:left; margin-top:26px; font-family:"微软雅黑"; font-size:14px;}
.top_c a:link,.top_c a:visited{margin-right:60px; float:left; position:relative;}
.top_c a span{ width:7px; height:4px; background:url(../img/top_select.png) no-repeat; position:absolute; right:-15px; top:10px;}
/*	.top_c a span{width:7px; height:4px; background:url(img/icon.png) no-repeat -130px -20px; position:absolute; right:-15px; top:10px;}*/

.top_r{height:16px; float:right; padding-top:27px;}
.top_r input{height:16px; float:left; cursor:pointer; margin-left:40px; background:url(../img/icon.png) no-repeat -196px -20px;}
.search{width:16px;}
.top_r .weixin{width:20px; background-position:-160px 0;}
.top_r .login{width:16px; background-position:-270px -20px;}
.top_r span{float:left; padding-left:5px; cursor:pointer; height:16px; line-height:16px;}

/*wrapCenter*/
#wrapCenter{width:1200px; overflow:hidden; margin:0 auto; color:#666;}
/*面包屑*/
.breadCrumb{height:29px;padding-top:11px;}
.breadCrumb a:link,.breadCrumb a:visited{color:#666; float:left;}
.breadCrumb label{width:4px; height:7px; background:url(../img/md2_curmb_jt.png) no-repeat; display:inline-block; margin:5px 8px; float:left;}
.breadCrumb .current:link,.breadCrumb .current:visited{color:#333;}
/*左侧导航*/
.kind_wrap{width:220px; float:left; background:#FFF; margin-right:20px;}
.kind_wrap ul{padding:15px 0 12px;}
.kind_wrap li h2{font-size:14px; font-weight:normal; font-family:"微软雅黑"; }
.kind_wrap li{height:26px; line-height:26px; padding-left:18px; }
.kind_wrap li a:link,.kind_wrap li a:visited{color:#666;}
.kind_wrap li a:hover{color:#333;}
.kind_wrap .kind_current{margin-bottom:5px; color:#0093D5;border-left:4px #0093D5 solid; padding-left:14px;}
/*右边部分*/
.wrap_Pro{float:left; overflow:hidden; width:960px;}
.wrap_Pro li{width:310px; height:400px; margin:0 10px 10px 0; background:#FFF;}
.wrap_Pro li a,.wrap_Pro li img,.wrap_Pro span{display:block; overflow:hidden;}
.wrap_Pro li{color:#999; font:400 12px/18px "微软雅黑"; float:left;}
.img_link{width:310px; height:310px;}
.wrap_Pro img{width:250px; height:250px; margin:30px;}
.wrap_Pro .proName:link,.wrap_Pro .proName:visited{padding:5px 0 0 20px; display:block; font-size:14px;} 
.wrap_Pro .proName:hover{color:#333;}
.wrap_Pro .desc{padding-left:20px;}
.wrap_Pro .price_wrap{padding: 10px 0 0 20px;}
.wrap_Pro .price_wrap b{font-weight:normal; color:#F30;}
.wrap_Pro .price_wrap em{font-style:normal;}
/*页面切换*/
.wrap_page{width:950px; height:110px; margin-top:50px; float:left; text-align:center; line-height:60px; font:12px/60px "simsun","宋体" !important;}
.page_center{display:inline-block; width:735px;}
.page_center span,.page_center a:link,.page_center a:visited{display:block; float:left; border-right:1px solid #E6E6E6; height:60px; width:60px; background:#FFF;color:#666;}
.page_center a:hover{color:#000;}
.page_center .page_this{ background:#0093D5; color:#FFF;}
.page_center .page_next:link,.page_center .page_next:visited{border:none;}


/*wrap_footer*/
#server_footer{width:100%;border-top:1px solid #E8E8E8; background:#FFF;}
.server_f{width:1200px; height:135px; margin:0 auto;}
.server_f li{float:left;padding:35px 50px 0;}
.server_f div{width:200px; height:60px; background:url(../img/css_img.png) no-repeat 0 -240px;}
.server_f .server_6{background-position:0 -300px;}
.server_f .server_7{background-position:0 -360px;}
.server_f .server_8{background-position:0 -420px;}
/*footer*/
#footer{width:100%;background:#0093D5; font-size:12px;}
#footer h3{color:#FFF; font-size:12px;}
.foot_center{width:1200px; margin:0 auto;}

.foot_t{ height:70px; border-bottom:1px solid #2EA4D9; cursor:pointer; position:relative;}
.col {float:left;width:140px;}
.foot_t h3{font-weight:400; padding:28px 0 22px 0;}
.foot_t span{height:5px; width:9px; position:absolute; top:32px; right:0; background:url(../img/icon.png) no-repeat -150px -20px;}

.foot_m{ height:30px; border-bottom:1px solid #2EA4D9; padding:20px 0; line-height:30px;}
.foot_m a:link,.foot_m a:visited{color:#FFF;}
.tit{font-weight:400; float:left; height:30px; margin-right:40px;}
.item{float:left; height:30px; color:#FFF;margin-right:40px;}
.item_tmall{width:116px;background: url(../img/icon.png) no-repeat 0 -160px;}
.item_jd{width:91px;background: url(../img/icon.png) no-repeat -120px -160px;}
.item_suning{width:90px;background: url(../img/icon.png) no-repeat -215px -160px;}
.item_gome{width:116px;background: url(../img/icon.png) no-repeat 0 -200px;}
.item_video{ padding:0 40px; height:30px; border-left:1px dotted #66BEE6; border-right:1px dotted #66BEE6; margin-right:0;}
.icon_video{width:17px; height:17px; background:url(../img/icon.png) no-repeat -250px 0; float:left; margin:6px 5px 0 0;}
.item_video span{float:left;}
.item_act{padding-left:40px;margin:0;}

.foot_info{height:40px; padding:30px 0 55px; color:#98D0E9}
.foot_info a:link,.foot_info a:visited{float:left; color:#98D0E9;}
.foot_info .icon_cx{padding-right:15px;}
.info_wrap{float:left;}
.info_wrap a{padding:0 8px; border-right:1px solid #98D0E9;}
.info_wrap .last{border:none;}
.info_wrap p{clear:left; padding-left:8px; padding-top:5px;}
.NationSel{float:right;}
.NationSel span{color:#FFF;padding-left:5px;}